:host /deep/ .mat-input-placeholder {
    color: #ffffff;
 }

 :host /deep/ .mat-input-underline {
    background-color: rgba(255, 255, 255, 0.42);
 }

 :host /deep/ .mat-input-ripple{
    background-color: rgba(255, 255, 255, 0.42);
 }