<div class="container-fluid">
  <mat-toolbar color="primary" layout="row" class="mat-elevation-z6 fixed-top">
    <mat-toolbar-row>
      <h1>Dashboard</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="spacer"></span>
      <div>
        <label>Select measurement period:&nbsp;</label>
        <mat-form-field>
          <input matInput [min]="getStartDateMin()" [max]="endDate.value" [matDatepicker]="startDatePicker" placeholder="Start date"
            [formControl]="startDate" (dateChange)="periodChanged($event)">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [min]="startDate.value" [max]="getEndDateMax()" [matDatepicker]="endDatePicker" placeholder="End date" [formControl]="endDate"
            (dateChange)="periodChanged($event)">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container-fluid" style="margin-top: 8rem;">
    <div class="d-flex flex-row justify-content-around flex-wrap">
      <div *ngFor="let def of chartDefinitions;">
        <app-chart [chartDefinition]="def" (remove)="removeChartDefintion($event)"[startDate]="startDate" [endDate]="endDate"></app-chart>
      </div>
    </div>
  </div>

  <span class="add">
    <button (click)="showAddChartForm()" mat-fab matTooltip="Add chart" matTooltipPosition="above">
      <mat-icon>my_library_add</mat-icon>
    </button>
  </span>
</div>